*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#header-id{
    display:flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-between;
    background-color: #3ebfff;
}

.left-header{
    font-size: 35px;
    text-align: center;
}

.right-header ul{
    font-size: 15px;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: white;
}

.list {
    display: flex;
    list-style: none;
    justify-content: center;
    font-weight: bolder;
}

.list li {
   margin-right: 30px;
   padding: 5px;
}

.list li:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}

.list li a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}

a{
    text-decoration: none;
    color: whitesmoke;
}

#button-contact{
    background-color: white;
    border-radius: 20px;
    padding: 10px 18px;
    font-weight: bolder;
    font-family: 'Fraunces', serif;
    font-size: 12px;
}

#button-contact a{
    color: black;
}
#button-contact:hover{
    text-decoration: none;
    color:whitesmoke;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.74);
    background-color: #ffffff8c;
}

#button-contact a:hover{
    color:whitesmoke;
}
.left-header{
    color: white;
    font-weight: bolder;
    margin-left: 40px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3ebfff;
    width:100%;
}

.main-title{
    font-family: 'Fraunces', serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-top: 80px;
    letter-spacing: 8px;
    position: absolute;
    z-index: 1;
    
}

.header-img{
    width: 680px;
    height: 400px;
    margin-top: 0;
}


.content{
    display: grid;
    grid-template-rows: repeat (3, 1fr);
    /*margin-top: 400px;*/
    justify-content: center;
    /*max-width: 2000px;*/
}

.item1-content, .item2-content, .item3-content{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: left;
}

.item1-content{
    width: 99.39vw;
}

.item-left, .item-right{
    width: 50vw;
}


.img-content{
    width:50vw;
}

.item-h2{
    font-family: 'Fraunces', serif;
    font-size: 40px;
    padding-left: 100px;
    padding-right: 210px;
}

.under{
    position: absolute;
    z-index: -1;
    width:50vw;
}


.item-underright, .item-underleft{
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
}

.item-underh2{
    font-family: 'Fraunces', serif;
    font-size: 40px;
    background-color: #e0ecff18;
    position: absolute;
    align-self: center;
    margin-top: 380px;
    
}

.item-underp{
    color:rgb(138, 134, 134);
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    line-height: 25px;
    align-self:center;
    position: absolute;
    margin-top: 460px;
    margin-left: 150px;
    margin-right: 150px;
    
}

.item-span{
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-size: 12px;
}

.item-p,.testimonials-p,.testimonials-span2{
    color:rgb(138, 134, 134);
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    line-height: 25px;
}

.item-span, .item-p{
    padding-left: 100px;
    padding-right: 210px;
}

#testimonials{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 1100px;
    margin-bottom: 170px;
    margin-right: 170px;
    margin-left: 170px;
    align-content: center;
    text-align: center;
}

.testimonial-h3{
    grid-column: 1/5;
    text-align: center;
    margin-top: 700px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-size: 18px;
    color:rgb(138, 134, 134);
    letter-spacing: 6px;
}

.photo{
    width: 80px;
    border-radius: 100px;
}

#testimonials-one, #testimonials-two, #testimonials-three{
    padding-top: 65px;
}

.testimonials-span{
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-size: 16px;
}

#collage{
    display: grid;
    width:100vw;
    grid-template-columns: repeat(4, 1fr);
}

.collage-pic{
    width: 25vw;
}

footer{
    color: hsl(168, 34%, 41%);
    background-color: rgba(144,212,197,255);
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#footer-logo{
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    margin-bottom: 25px;
}

#footer-section{
    margin-bottom: 50px;
}

.footer-title{
    margin-left: 20px;
    margin-right: 20px;
}

.footer-img{
    margin-left: 15px;
}

@media (max-width: 700px) {
    .item1-content{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        
    }
    .img-content {
        width: 100vw;
    }

    *{
        overflow-x: hidden;
    }

    .right-header .list{
        display: none;
    }
        
    .header-img{
        width: 100vw;
        height: 300px;
        margin-top: 0;
    }

    .item-h2, .item-underh2{
        font-size: 20px;
        padding-left: 30px;
        padding-right: 0px;
        text-align: left;
    }

    .item-p,.testimonials-p,.testimonials-span2{
        font-size: 15px;
        line-height: 22px;
        text-align: center;
    }

    .item-span, .item-p, .item-underp {
        padding-left: 10px;
        padding-right: 0px;
    }
    .item-left, .item-right{
        width: 100vw;
    }

    .item-left{
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    #testimonials{
        height: auto;
        margin-bottom: 50px;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 150px;
        align-content: center;
        text-align: center;
    }
}